.page-rate {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.page-rate::after {
  background-color: $background_special;
  content: '';
  bottom: 0;
  left: 0;
  //transform: rotate(5deg);
  //transform-origin: top;
  position: absolute;
  //right: -100%;
  top: 0;
  width: 1200px;
  clip-path: polygon(0% 15%, 100% 8%, 100% 100%, 0% 100%);
  z-index: -1;
}

.page-rate__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet_width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: $desktop_width) {
    height: 110px;
  }
}

.page-rate__item {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
