.page-review {
  margin: 0 20px;
  position: relative;

  @media (min-width: $desktop_width) {
    margin-top: 84px;
    margin-bottom: 41px;
    margin-left: auto;
    margin-right: auto;
    max-width: 688px;
  }
}

.page-review::before {
  @media (min-width: $desktop_width) {
    content: "";
    position: absolute;
    top: -90px;
    left: 50%;
    margin-left: -39px;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    width: 79px;
    height: 63px;
  }
}

.page-review__item {
  display: flex;
  flex-direction: column;
}

.page-review__name-author {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $color_text_dark;
  text-align: center;
  margin-bottom: 0;

  @media (min-width: $tablet_width) {
    order: 2;
    font-size: 20px;
  }

  @media (min-width: $desktop_width) {
    order: 2;
    font-size: 24px;
  }
}

.page-review__about-author {
  display: none;
  text-align: center;

  @media (min-width: $tablet_width) {
    order: 3;
    display: initial;
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $main_text_color;
  }

  @media (min-width: $desktop_width) {
    order: 3;
    display: initial;
    font-size: 18px;
  }
}

.page-review__review {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $main_text_color;
  text-align: center;

  @media (min-width: $tablet_width) {
    font-size: 18px;
  }
}

.page-review__list {
  margin: 0;
  padding: 0;
}

.page-review__nav-list {
  margin: 0;
  padding: 0;
}
