.page-header {
  //background-color: #1d2631;
  display: flex;
  flex-direction: column;
  background: url("../img/screen_phone_mobile.png") 50% 176px / auto 286px no-repeat, #1d2631 url("../img/back mobile.jpg") 50% 0% / auto 462px no-repeat;

  @media (min-resolution: 2dppx) {
    background: url("../img/screen_phone_mobile@2x.png") 50% 176px / auto 286px no-repeat, #1d2631 url("../img/back mobile@2x.jpg") 50% 0% / auto 462px no-repeat;
  }

  @media (min-width: $tablet_width) {
    background: url("../img/screen_phone_tablet.png") 50% 100% no-repeat, #1d2631 url("../img/back tablet.jpg") 50% 0% / auto 729px no-repeat;
    min-height: 729px;

    @media (min-resolution: 2dppx) {
      background: url("../img/screen_phone_tablet@2x.png") 50% 100% / auto 545px no-repeat, #1d2631 url("../img/back tablet@2x.jpg") 50% 0% / auto 729px no-repeat;
    }
  }

  @media (min-width: $desktop_width) {
    background: url("../img/screen_phone_desktop.png") 50% 100% no-repeat, #1d2631 url("../img/back desktop.jpg") 50% 0% no-repeat;
    min-height: 853px;

    @media (min-resolution: 2dppx) {
      background: url("../img/screen_phone_desktop@2x.png") 50% 100% / auto 645px no-repeat, #1d2631 url("../img/back desktop@2x.jpg") 50% 0% / auto 853px no-repeat;
    }
  }
}

.page-header--free {
  //background-color: #1d2631;
  display: flex;
  flex-direction: column;
  background: #1d2631 url("../img/back mobile.jpg") 50% 0% / auto 462px no-repeat;
  min-height: 237px;

  @media (min-resolution: 2dppx) {
    background: #1d2631 url("../img/back mobile@2x.jpg") 50% 0% / auto 462px no-repeat;
  }

  @media (min-width: $tablet_width) {
    background: #1d2631 url("../img/back tablet.jpg") 50% 0% / auto 729px no-repeat;
    min-height: 440px;

    @media (min-resolution: 2dppx) {
      background: #1d2631 url("../img/back tablet@2x.jpg") 50% 0% / auto 729px no-repeat;
    }
  }

  @media (min-width: $desktop_width) {
    background: #1d2631 url("../img/back desktop.jpg") 50% 0% no-repeat;
    min-height: 394px;

    @media (min-resolution: 2dppx) {
      background: #1d2631 url("../img/back desktop@2x.jpg") 50% 0% / auto 853px no-repeat;
    }
  }
}

.page-header__logo {
  display: inline-block;
  margin: 22px auto 21px 20px;

  @media (min-width: $desktop_width) {
    height: 110px;
    max-width: 277px;
    justify-self: flex-end; // не работает
  }
}

.page-header__logo--pink {
  fill: $background_color_body;

  &:hover {
    fill: $color_text_pink;
  }

  &:active {
    fill: $background_color_body;
    opacity: 0.3;
  }
}

.page-header__logo--visible-mobile {
  @media (min-width: $tablet_width) {
    display: none;
  }
}

.page-header__logo--visible-tablet {
  display: none;

  @media (min-width: $tablet_width) {
    display: block;
  }

  @media (min-width: $desktop_width) {
    display: none;
  }
}

.page-header__logo--visible-desktop {
  display: none;

  @media (min-width: $desktop_width) {
    display: block;
  }
}

.page-header__more {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);

  @media (min-width: $tablet_width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "page-header__logotype page-header__lototype--overlay""page-header__download_button page-header__lototype--overlay""page-header__download page-header__lototype--overlay";
  }
}

.page-header__more--free {
  display: flex;
  justify-content: center;
}

.page-header__lototype--overlay {
  position: relative;
  //background-image: url("../img/screen_phone_mobile.png");
  background-repeat: no-repeat;
  //background-position: 50% 100%;
  width: 320px;
  height: 286px;
  background-size: auto;
  margin-bottom: 40px;

  @media (min-width: $tablet_width) {
    grid-area: page-header__lototype--overlay;
  }
}

.page-header__logotype--img_phone {
  margin-bottom: 34px;
}


.page-header__logotype--img_screen {
  position: absolute;
  top: 33px;
  left: 32.7%;
}

.page-header__logotype {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $color_text_light;
  margin-bottom: 36px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  max-width: 280px;

  @media (min-width: $tablet_width) {
    grid-area: page-header__logotype;
    font-size: 40px;
    margin-top: 102px;
    margin-bottom: 39px;
    max-width: 230px;
  }

  @media (min-width: $desktop_width) {
    font-size: 50px;
    line-height: 68px;
    max-width: 300px;
  }
}

.page-header__logotype--inside {
  max-width: 172px;
  margin-top: 36px;

  @media (min-width: $tablet_width) {
    max-width: 358px;
    margin-top: 81px;
  }

  @media (min-width: $desktop_width) {
    min-width: 357px;
    margin-top: 74px;
  }
}

.page-header__logotype--inside_form {
  min-width: 228px;
  margin-top: 36px;

  @media (min-width: $tablet_width) {
    min-width: 400px;
    margin-top: 81px;
  }

  @media (min-width: $desktop_width) {
    max-width: 747px;
    margin-top: 74px;
  }
}

.catalog--logo {
  margin-bottom: 84px;
}

.mod--line {
  line-height: 33px;
}

.page-header__download {
  color: $color_text_light;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr;

  @media (min-width: $tablet_width) {
    grid-area: page-header__download;
    margin-bottom: 38px;
  }
}

.page-header__download__images {
  margin-left: 58px;
  margin-right: 58px;
  display: flex;
  align-items: center;
  column-gap: 35px;
}

.page-header__download--desctiption {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.page-header__download_button {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  width: 280px;
  height: 55px;
  color: $color_text_light;
  background-color: transparent;
  border: 3px solid $color_text_light;
  border-radius: 29px;
  margin-bottom: 27px;

  @media (min-width: $tablet_width) {
    width: 300px;
    margin-bottom: 46px;
    grid-area: page-header__download_button;
  }
}

.page-header__logo--wrapper {
  height: 66px;

  @media (min-width: $tablet_width) {
    height: 110px;
  }

  @media (min-width: $desktop_width) {
    height: 110px;
  }
}
