.page-catalog__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  margin: 0 20px;

  @media (min-width: $tablet_width) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop_width) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 54px;
    column-gap: 20px;
  }
}

.page-catalog__block {
  background-color: $background_special;
  position: relative;
}

.page-catalog__block:first-of-type:before {
  content: "Панорама дня";
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 700;
  font-size: 12px;
  line-height: 36px;
  color: $color_text_light;
  text-align: center;
  text-transform: uppercase;
  background-color: $color_text_pink;
  width: 140px;
  height: 36px;
  z-index: 2;

}

.page-catalog__image {
  width: 100%;
  height: auto;
}

.first--block .page-catalog__image {

}

.page-catalog__description_text {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $main_text_color;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.page-catalog__author {
  position: relative;

  font-family: $font-family;
  font-style: $font-style;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $main_text_color;
}
.page-catalog__date {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $main_text_color;
  text-transform: uppercase;
}

.page-catalog__comment {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $main_text_color;
}

.page-catalog__like {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: $color_text_pink;
}

.page-catalog__app-posting {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-areas: "app-posting-img"
  "list-filters"
  "page-catalog__range"
  "app-posting-submit"
  "app-posting-reset";

  @media (min-width: $tablet_width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "app-posting-img list-filters page-catalog__range"
    "app-posting-img app-posting-submit app-posting-submit"
    "app-posting-img app-posting-reset app-posting-reset";

  }

  @media (min-width: $desktop_width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "app-posting-img list-filters page-catalog__range"
  "app-posting-img app-posting-submit app-posting-reset";
  }
}

.page-catalog__app-posting-img {
  grid-area: app-posting-img;
}

.page-catalog__list-filters {
  grid-area: list-filters;
}

.page-catalog__range {
  grid-area: page-catalog__range;
}

.page-catalog__app-posting-submit {
  grid-area: app-posting-submit;
}

.page-catalog__app-posting-reset {
  grid-area: app-posting-reset;
}
